<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzu.springboot.dao.TripMapper">
    <resultMap id="BaseResultMap" type="com.wzu.springboot.pojo.Trip">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="s_title" property="sTitle" jdbcType="VARCHAR"/>
        <result column="start_place" property="startPlace" jdbcType="INTEGER"/>
        <result column="position" property="position" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="traffic" property="traffic" jdbcType="VARCHAR"/>
        <result column="hotel" property="hotel" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="INTEGER"/>
        <result column="good_rate" property="goodRate" jdbcType="REAL"/>
        <result column="place_score" property="placeScore" jdbcType="REAL"/>
        <result column="hotel_score" property="hotelScore" jdbcType="REAL"/>
        <result column="service_score" property="serviceScore" jdbcType="REAL"/>
        <result column="traffic_score" property="trafficScore" jdbcType="REAL"/>
        <result column="is_ok" property="isOk" jdbcType="BIT"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Jun 17 08:41:45 CST 2019.
        -->
        delete from trip
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wzu.springboot.pojo.Trip">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Jun 17 08:41:45 CST 2019.
        -->
        insert into trip (id, num, title,
        s_title, start_place, position,
        type, traffic, hotel,
        time, good_rate, place_score,
        hotel_score, service_score, traffic_score,
        is_ok)
        values (#{id,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
        #{sTitle,jdbcType=VARCHAR}, #{startPlace,jdbcType=INTEGER}, #{position,jdbcType=INTEGER},
        #{type,jdbcType=INTEGER}, #{traffic,jdbcType=VARCHAR}, #{hotel,jdbcType=VARCHAR},
        #{time,jdbcType=INTEGER}, #{goodRate,jdbcType=REAL}, #{placeScore,jdbcType=REAL},
        #{hotelScore,jdbcType=REAL}, #{serviceScore,jdbcType=REAL}, #{trafficScore,jdbcType=REAL},
        #{isOk,jdbcType=BIT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.wzu.springboot.pojo.Trip">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Jun 17 08:41:45 CST 2019.
        -->
        update trip
        set num = #{num,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        s_title = #{sTitle,jdbcType=VARCHAR},
        start_place = #{startPlace,jdbcType=INTEGER},
        position = #{position,jdbcType=INTEGER},
        type = #{type,jdbcType=INTEGER},
        traffic = #{traffic,jdbcType=VARCHAR},
        hotel = #{hotel,jdbcType=VARCHAR},
        time = #{time,jdbcType=INTEGER},
        good_rate = #{goodRate,jdbcType=REAL},
        place_score = #{placeScore,jdbcType=REAL},
        hotel_score = #{hotelScore,jdbcType=REAL},
        service_score = #{serviceScore,jdbcType=REAL},
        traffic_score = #{trafficScore,jdbcType=REAL},
        is_ok = #{isOk,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Jun 17 08:41:45 CST 2019.
        -->
        select id, num, title, s_title, start_place, position, type, traffic, hotel, time,
        good_rate, place_score, hotel_score, service_score, traffic_score, is_ok
        from trip
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Jun 17 08:41:45 CST 2019.
        -->
        select id, num, title, s_title, start_place, position, type, traffic, hotel, time,
        good_rate, place_score, hotel_score, service_score, traffic_score, is_ok
        from trip
    </select>

    <select id="getTripByType" parameterType="String" resultType="com.wzu.springboot.pojo.TripShort">
              SELECT trip.id, trip.title, city.name city, price.price,trippicture.name picture
                    FROM
                    sequence,
                    trip,
                    city,
                    price,
                    trippicture
                WHERE
                sequence.value = #{value,jdbcType=VARCHAR}
                    AND sequence.id = trip.type
                    AND trip.id = price.trip
                    AND trip.id = trippicture.trip
                    AND trip.start_place = city.id group by trip.id;
   </select>
    <select id="getTripByPlace" parameterType="String" resultType="com.wzu.springboot.pojo.TripShort">
    SELECT
    trip.id,
    trip.title,
    trip.s_title stitle,
    city.name city,
    price.price,
    trippicture.name picture
FROM
    trip,
    city,
    price,
    trippicture
WHERE
        trip.id = price.trip
        And trip.title like "%"#{value,jdbcType=VARCHAR}"%"
        AND trip.start_place = city.id
         and trippicture.trip = trip.id
GROUP BY trip.id;
    </select>

</mapper>